.maxw-400 {
    max-width: 400px;
}

.btn-outline-dark:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

.instagram-icon { color: #E1306C; }
.tiktok-icon { color: #000000; }
.linkedin-icon { color: #0077B5; }
.youtube-icon { color: #FF0000; }